/* Estilo principal para o contêiner do cabeçalho */
.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
}

/* Flex container para alinhar logo, navegação e ações */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo para a logo */
.logo img {
    height: 60px;
    /* Ajuste a altura conforme necessário */
}

/* Contêiner para os links de navegação */
.nav-links {
    display: flex;
    gap: 30px;
    /* Espaçamento entre os links */
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #c58c85;
    /* Cor de destaque ao passar o mouse */
}

/* Contêiner para a barra de pesquisa e ações do usuário */
.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Espaçamento entre os grupos de ação */
}

/* Barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 20px 0 0 20px;
    border-right: none;
    outline: none;
}

.search-bar button {
    background-color: #c58c85;
    border: 1px solid #c58c85;
    cursor: pointer;
    color: #fff;
    padding: 8px 12px;
    border-radius: 0 20px 20px 0;
}

/* Menu do usuário quando logado */
.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    color:#333;
}

/* Botões de entrar e sair */
.login-btn,
.logout-btn {
    text-decoration: none;
    color: #fff;
    background-color: #516A6A;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-btn:hover,
.logout-btn:hover {
    background-color: #3e5252;
}

/* Ícone do carrinho */
.cart-icon {
    font-size: 24px;
    /* Tamanho do emoji/ícone */
    text-decoration: none;
    color: #333;
}