.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f8f7fa;
    position: relative; /* Essencial para posicionar o círculo */
    overflow: hidden; /* Evita que o círculo "estoure" do contêiner */
}

.hero-circle-background {
    position: absolute;
    top: 50%;
    right: 280px; 
    transform: translateY(-38%);
    width: 400px;
    height: 400px;
    background-color: #e0d4c5; /* Cor terrosa clara */
    border-radius: 50%; /* Transforma a div em um círculo */
    z-index: 1; /* Garante que o círculo fique atrás */
}

.hero-content {
    max-width: 500px;
    margin-right: 50px;
    position: relative; 
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    color: #333;
}

.hero-content p {
    color: #666;
    line-height: 1.6;
}

.cta-button {
    background-color: #5d7a7b; 
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #4a6263;
}

.hero-image-container {
    position: relative;
    z-index: 2; 
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
}

.sale-badge {
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: #a4d4c5;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    font-weight: bold;
    z-index: 3;
}