.forgot-password-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -20px;
}

.forgot-password-form-wrapper {
    max-width: 500px;
    width: 100%;
}

.forgot-password-form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.forgot-password-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.forgot-password-form .form-group {
    text-align: left;
    margin-bottom: 20px;
}

.forgot-password-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.forgot-password-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-link-button {
    width: 440px;
    padding: 12px;
    background-color: #5d7a7b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
}

.send-link-button:hover {
    background-color: #4a6263;
}

.back-to-login {
    margin-top: 20px;
}

.back-to-login a {
    color: #5d7a7b;
    text-decoration: none;
    font-weight: bold;
}

.status-message {
    margin-top: 20px;
    font-size: 1rem;
    color: #4CAF50;
}