/* frontend/src/styles/TestimonialCard.css */

.testimonial-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Reduzindo para 400px para evitar conflito com 33.333% de largura */
    width: 100%;
    text-align: center;
}

/* Container que define a moldura circular */
.testimonial-image-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    border: 3px solid #f0f0f0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.testimonial-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.testimonial-info {
    margin-top: 15px; 
}

.testimonial-tag {
    font-size: 0.9rem;
    color: #5d7a7b; 
    font-weight: 500;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-icon {
    margin-right: 5px;
    font-size: 1rem;
}

.testimonial-name {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.add-to-cart-btn svg {
    fill: white;
    font-size: 1.2rem; 
}

.wishlist-btn svg {
    fill: #5d7a7b;
    font-size: 1.2rem; 
}