.wishlist-breadcrumbs {
    margin-top: -40px;
    margin-bottom: 55px;
    margin-left: 0px;
    color: #888; 
    font-size: 0.9rem;
}

.wishlist-breadcrumbs a {
    color: #5d7a7b; 
    text-decoration: none; 
    font-weight: 600;
    transition: color 0.2s ease;
}

.wishlist-main {
    padding: 40px 0;
    margin-top:     0px;
}

.wishlist-grid {
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    gap: 40px; 
    margin-bottom: 40px;
}

.empty-wishlist {
    text-align: center;
    padding: 80px 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px auto;
    max-width: 500px;
    min-height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.empty-icon {
    font-size: 3rem;
    color: #e74c3c;
    margin-bottom: 20px;
    margin-top: -90px;
}

.empty-wishlist p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
}

.browse-button {
    padding: 10px 20px;
    background-color: #5d7a7b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.browse-button:hover {
    background-color: #4a6263;
}