-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: bohemian
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `carrinho`
--

DROP TABLE IF EXISTS `carrinho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrinho` (
  `id_carrinho` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `atualizado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` enum('ativo','convertido','abandonado') DEFAULT 'ativo',
  PRIMARY KEY (`id_carrinho`),
  KEY `fk_carrinho_usuario` (`id_usuario`),
  CONSTRAINT `fk_carrinho_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrinho`
--

LOCK TABLES `carrinho` WRITE;
/*!40000 ALTER TABLE `carrinho` DISABLE KEYS */;
INSERT INTO `carrinho` VALUES (1,21,'2025-10-17 18:41:16','2025-10-17 18:41:16','ativo'),(2,20,'2025-10-17 19:46:02','2025-10-17 19:46:02','ativo');
/*!40000 ALTER TABLE `carrinho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `id_categoria` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `descricao` text,
  PRIMARY KEY (`id_categoria`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (1,'buque','Arranjos florais para buqu├¬s'),(2,'arranjo','Arranjos de mesa e decora├º├úo');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cidade`
--

DROP TABLE IF EXISTS `cidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cidade` (
  `id_cidade` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `sigla_UF` char(2) NOT NULL,
  PRIMARY KEY (`id_cidade`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cidade`
--

LOCK TABLES `cidade` WRITE;
/*!40000 ALTER TABLE `cidade` DISABLE KEYS */;
INSERT INTO `cidade` VALUES (1,'Ponta Grossa','PR'),(2,'Prudent├│polis','PR'),(3,'Cidade Teste','TT');
/*!40000 ALTER TABLE `cidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `telefone` varchar(15) DEFAULT NULL,
  `fk_usuario_id_usuario` int DEFAULT NULL,
  `fk_endereco_id_endereco` int DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  UNIQUE KEY `unique_email` (`email`),
  KEY `fk_cliente_usuario` (`fk_usuario_id_usuario`),
  KEY `fk_cliente_endereco` (`fk_endereco_id_endereco`),
  CONSTRAINT `fk_cliente_endereco` FOREIGN KEY (`fk_endereco_id_endereco`) REFERENCES `endereco` (`id_endereco`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cliente_usuario` FOREIGN KEY (`fk_usuario_id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `clientes_fieis`
--

DROP TABLE IF EXISTS `clientes_fieis`;
/*!50001 DROP VIEW IF EXISTS `clientes_fieis`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `clientes_fieis` AS SELECT 
 1 AS `cliente`,
 1 AS `total_pedidos`,
 1 AS `total_gasto`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `colaborador`
--

DROP TABLE IF EXISTS `colaborador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `colaborador` (
  `id_colaborador` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `tipo` enum('admin','vendedor','entregador') NOT NULL,
  `fk_pedido_id_pedido` int DEFAULT NULL,
  `fk_usuario_id_usuario` int DEFAULT NULL,
  PRIMARY KEY (`id_colaborador`),
  KEY `fk_pedido_id_pedido` (`fk_pedido_id_pedido`),
  KEY `fk_usuario` (`fk_usuario_id_usuario`),
  CONSTRAINT `fk_usuario` FOREIGN KEY (`fk_usuario_id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `colaborador`
--

LOCK TABLES `colaborador` WRITE;
/*!40000 ALTER TABLE `colaborador` DISABLE KEYS */;
/*!40000 ALTER TABLE `colaborador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `endereco`
--

DROP TABLE IF EXISTS `endereco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `endereco` (
  `id_endereco` int NOT NULL AUTO_INCREMENT,
  `numero` varchar(10) DEFAULT NULL,
  `complemento` varchar(100) DEFAULT NULL,
  `id_cidade` int NOT NULL,
  `fk_id_usuario` int NOT NULL,
  `cep` varchar(8) DEFAULT NULL,
  `nome` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_endereco`),
  KEY `endereco_ibfk_1` (`id_cidade`),
  KEY `fk_endereco_usuario` (`fk_id_usuario`),
  CONSTRAINT `endereco_ibfk_1` FOREIGN KEY (`id_cidade`) REFERENCES `cidade` (`id_cidade`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_endereco_usuario` FOREIGN KEY (`fk_id_usuario`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `chk_cep_format` CHECK (regexp_like(`cep`,_utf8mb4'^[0-9]{8}$'))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `endereco`
--

LOCK TABLES `endereco` WRITE;
/*!40000 ALTER TABLE `endereco` DISABLE KEYS */;
INSERT INTO `endereco` VALUES (1,'123','Apto 45',3,20,'84010000','Casa Principal'),(2,'136',NULL,1,20,'84031124','Rua Mauro Zimermann - Uvaranas');
/*!40000 ALTER TABLE `endereco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `entregas_amanha`
--

DROP TABLE IF EXISTS `entregas_amanha`;
/*!50001 DROP VIEW IF EXISTS `entregas_amanha`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `entregas_amanha` AS SELECT 
 1 AS `id_pedido`,
 1 AS `cliente`,
 1 AS `data_entrega`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favoritos` (
  `id_usuario` int NOT NULL,
  `id_produto` int NOT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_produto`),
  KEY `fk_favoritos_produto` (`id_produto`),
  CONSTRAINT `fk_favoritos_produto` FOREIGN KEY (`id_produto`) REFERENCES `produto` (`id_produto`) ON DELETE CASCADE,
  CONSTRAINT `fk_favoritos_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
INSERT INTO `favoritos` VALUES (20,8,'2025-10-30 23:02:25'),(20,10,'2025-10-27 23:14:46'),(20,117,'2025-10-27 23:00:23'),(20,121,'2025-11-03 01:53:11'),(20,123,'2025-10-27 23:32:36'),(20,126,'2025-10-27 23:15:23'),(20,129,'2025-10-27 23:32:19'),(20,131,'2025-10-30 01:18:39'),(20,132,'2025-10-27 23:15:05'),(20,133,'2025-10-30 01:18:43'),(21,10,'2025-10-31 23:49:37'),(21,123,'2025-10-31 23:49:34');
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forma_pagamento`
--

DROP TABLE IF EXISTS `forma_pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `forma_pagamento` (
  `id_forma_pagamento` int NOT NULL AUTO_INCREMENT,
  `descricao` varchar(100) NOT NULL,
  `status_transacao` enum('pending','approved','authorized','in_process','in_mediation','rejected','cancelled','refunded','charged_back') NOT NULL DEFAULT 'pending',
  `codigo_pagamento` varchar(100) DEFAULT NULL,
  `id_transacao_mp` varchar(100) DEFAULT NULL,
  `codigo_gateway` varchar(100) DEFAULT NULL,
  `data_pagamento` date DEFAULT NULL,
  `qr_code` text,
  `qr_code_url` text,
  PRIMARY KEY (`id_forma_pagamento`),
  UNIQUE KEY `id_transacao_mp` (`id_transacao_mp`),
  UNIQUE KEY `id_transacao_mp_2` (`id_transacao_mp`),
  CONSTRAINT `chk_dt_pago` CHECK ((((`status_transacao` = _utf8mb4'approved') and (`data_pagamento` is not null)) or ((`status_transacao` <> _utf8mb4'approved') and (`data_pagamento` is null))))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forma_pagamento`
--

LOCK TABLES `forma_pagamento` WRITE;
/*!40000 ALTER TABLE `forma_pagamento` DISABLE KEYS */;
INSERT INTO `forma_pagamento` VALUES (1,'Cart├úo de Cr├®dito','approved',NULL,'MP_APP_0.7987229440349368',NULL,'2025-11-02',NULL,NULL),(2,'PIX','pending',NULL,'MP_PEND_0.682077808009533',NULL,NULL,NULL,NULL),(3,'Cart├úo de Cr├®dito','rejected',NULL,'MP_REJ_0.014220238676499799',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `forma_pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_carrinho`
--

DROP TABLE IF EXISTS `item_carrinho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_carrinho` (
  `id_item_carrinho` int NOT NULL AUTO_INCREMENT,
  `id_produto` int DEFAULT NULL,
  `quantidade` int NOT NULL,
  `preco_unitario` decimal(10,2) NOT NULL,
  `id_carrinho` int DEFAULT NULL,
  PRIMARY KEY (`id_item_carrinho`),
  KEY `fk_itemcarrinho_produto` (`id_produto`),
  KEY `fk_itemcarrinho_carrinho` (`id_carrinho`),
  CONSTRAINT `fk_itemcarrinho_carrinho` FOREIGN KEY (`id_carrinho`) REFERENCES `carrinho` (`id_carrinho`),
  CONSTRAINT `fk_itemcarrinho_produto` FOREIGN KEY (`id_produto`) REFERENCES `produto` (`id_produto`),
  CONSTRAINT `item_carrinho_chk_1` CHECK ((`quantidade` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_carrinho`
--

LOCK TABLES `item_carrinho` WRITE;
/*!40000 ALTER TABLE `item_carrinho` DISABLE KEYS */;
INSERT INTO `item_carrinho` VALUES (52,131,1,120.00,2),(53,123,1,70.00,2),(54,133,1,180.00,2),(55,10,1,300.00,2),(56,8,1,71.00,2),(57,129,1,120.00,2),(58,117,1,150.00,2),(59,126,1,140.00,2),(60,132,1,200.00,2),(61,131,1,120.00,1),(62,133,1,195.00,1),(63,121,1,165.00,2);
/*!40000 ALTER TABLE `item_carrinho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itempedido`
--

DROP TABLE IF EXISTS `itempedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itempedido` (
  `id_itemPedido` int NOT NULL AUTO_INCREMENT,
  `quantidade` int NOT NULL,
  `precoUnitario` decimal(10,2) NOT NULL,
  `fk_pedido_id_pedido` int NOT NULL,
  `fk_produto_id_produto` int NOT NULL,
  PRIMARY KEY (`id_itemPedido`),
  KEY `fk_produto_id_produto` (`fk_produto_id_produto`),
  KEY `itempedido_ibfk_1` (`fk_pedido_id_pedido`),
  CONSTRAINT `itempedido_ibfk_1` FOREIGN KEY (`fk_pedido_id_pedido`) REFERENCES `pedido` (`id_pedido`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `itempedido_ibfk_2` FOREIGN KEY (`fk_produto_id_produto`) REFERENCES `produto` (`id_produto`),
  CONSTRAINT `chk_preco_unit_pos` CHECK ((`precoUnitario` >= 0)),
  CONSTRAINT `chk_quantidade_pos` CHECK ((`quantidade` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itempedido`
--

LOCK TABLES `itempedido` WRITE;
/*!40000 ALTER TABLE `itempedido` DISABLE KEYS */;
INSERT INTO `itempedido` VALUES (1,1,120.00,1,113),(2,1,95.00,1,115),(3,2,150.00,2,117),(4,1,180.00,3,118);
/*!40000 ALTER TABLE `itempedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `id_reset` int NOT NULL AUTO_INCREMENT,
  `fk_cliente_id` int NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `fk_usuario_id` int NOT NULL,
  PRIMARY KEY (`id_reset`),
  UNIQUE KEY `token_UNIQUE` (`token`),
  KEY `fk_passwordresets_usuario` (`fk_usuario_id`),
  CONSTRAINT `fk_passwordresets_usuario` FOREIGN KEY (`fk_usuario_id`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
INSERT INTO `password_resets` VALUES (1,20,'ce3ee28e1291e6e5bb7116a5f4969d02097a91df4438ae4681d298b6d78c0fea','2025-11-02 21:47:57',20),(2,20,'81e3e4d99d5cf37fab5c1012a4a815b7fe7593dab4047bc3c8934bbd9eb9c804','2025-11-02 21:50:51',20),(3,20,'0462b381b3d454c744d1c21c17595cb2b90555e9a3321c2bee39aafe58b63696','2025-11-02 22:00:16',20),(4,20,'079fe6b75d8cebad649d6e338cb8a75b09799c9998e56df6ae475f95e7227f69','2025-11-02 22:04:10',20);
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido`
--

DROP TABLE IF EXISTS `pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedido` (
  `id_pedido` int NOT NULL AUTO_INCREMENT,
  `data_entrega` date DEFAULT NULL,
  `dataPedido` date NOT NULL,
  `fk_cliente_id_cliente` int NOT NULL,
  `fk_forma_pagamento_id_forma_pagamento` int NOT NULL,
  `fk_endereco_id_endereco` int NOT NULL,
  `status_pedido` varchar(50) NOT NULL DEFAULT 'Pendente',
  PRIMARY KEY (`id_pedido`),
  KEY `fk_cliente_id_cliente` (`fk_cliente_id_cliente`),
  KEY `fk_forma_pagamento_id_forma_pagamento` (`fk_forma_pagamento_id_forma_pagamento`),
  KEY `fk_endereco_id_endereco` (`fk_endereco_id_endereco`),
  CONSTRAINT `fk_pedido_endereco` FOREIGN KEY (`fk_endereco_id_endereco`) REFERENCES `endereco` (`id_endereco`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pedido_ibfk_2` FOREIGN KEY (`fk_forma_pagamento_id_forma_pagamento`) REFERENCES `forma_pagamento` (`id_forma_pagamento`),
  CONSTRAINT `chk_data_entrega` CHECK (((`data_entrega` is null) or (`data_entrega` >= `dataPedido`)))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido`
--

LOCK TABLES `pedido` WRITE;
/*!40000 ALTER TABLE `pedido` DISABLE KEYS */;
INSERT INTO `pedido` VALUES (1,'2025-11-05','2025-11-02',20,1,1,'delivered'),(2,'2025-11-07','2025-11-02',20,2,1,'pending'),(3,'2025-11-04','2025-11-01',20,3,1,'cancelled');
/*!40000 ALTER TABLE `pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `pedidos_pendentes_pagamento`
--

DROP TABLE IF EXISTS `pedidos_pendentes_pagamento`;
/*!50001 DROP VIEW IF EXISTS `pedidos_pendentes_pagamento`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `pedidos_pendentes_pagamento` AS SELECT 
 1 AS `id_pedido`,
 1 AS `cliente`,
 1 AS `status_transacao`,
 1 AS `dataPedido`,
 1 AS `data_entrega`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `produto`
--

DROP TABLE IF EXISTS `produto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produto` (
  `id_produto` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `preco_venda` decimal(10,2) NOT NULL,
  `descricao` text,
  `ativo` tinyint(1) DEFAULT NULL,
  `imagem_url` text,
  PRIMARY KEY (`id_produto`),
  KEY `idx_produto_nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=146 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto`
--

LOCK TABLES `produto` WRITE;
/*!40000 ALTER TABLE `produto` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produtocategoria`
--

DROP TABLE IF EXISTS `produtocategoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produtocategoria` (
  `fk_produto_id_produto` int NOT NULL,
  `fk_categoria_id_categoria` int NOT NULL,
  PRIMARY KEY (`fk_produto_id_produto`,`fk_categoria_id_categoria`),
  KEY `fk_categoria_id_categoria` (`fk_categoria_id_categoria`),
  CONSTRAINT `fk_produtocategoria_produto` FOREIGN KEY (`fk_produto_id_produto`) REFERENCES `produto` (`id_produto`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `produtocategoria_ibfk_2` FOREIGN KEY (`fk_categoria_id_categoria`) REFERENCES `categoria` (`id_categoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produtocategoria`
--

LOCK TABLES `produtocategoria` WRITE;
/*!40000 ALTER TABLE `produtocategoria` DISABLE KEYS */;
INSERT INTO `produtocategoria` VALUES (10,1),(113,1),(117,1),(123,1),(126,1),(132,1),(133,1),(135,1),(136,1),(137,1),(139,1),(140,1),(142,1),(144,1),(145,1),(130,2),(141,2),(143,2);
/*!40000 ALTER TABLE `produtocategoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `senha` varchar(100) NOT NULL,
  `login` varchar(50) DEFAULT NULL,
  `admin` tinyint(1) DEFAULT '0',
  `nome` varchar(255) NOT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `login` (`login`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `clientes_fieis`
--

/*!50001 DROP VIEW IF EXISTS `clientes_fieis`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `clientes_fieis` AS select `c`.`nome` AS `cliente`,count(`p`.`id_pedido`) AS `total_pedidos`,sum((`ip`.`precoUnitario` * `ip`.`quantidade`)) AS `total_gasto` from ((`cliente` `c` join `pedido` `p` on((`c`.`id_cliente` = `p`.`fk_cliente_id_cliente`))) join `itempedido` `ip` on((`p`.`id_pedido` = `ip`.`fk_pedido_id_pedido`))) group by `c`.`id_cliente` order by `total_gasto` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `entregas_amanha`
--

/*!50001 DROP VIEW IF EXISTS `entregas_amanha`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `entregas_amanha` AS select `p`.`id_pedido` AS `id_pedido`,`c`.`nome` AS `cliente`,`p`.`data_entrega` AS `data_entrega` from (`pedido` `p` join `cliente` `c` on((`p`.`fk_cliente_id_cliente` = `c`.`id_cliente`))) where (`p`.`data_entrega` = (curdate() + interval 1 day)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `pedidos_pendentes_pagamento`
--

/*!50001 DROP VIEW IF EXISTS `pedidos_pendentes_pagamento`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `pedidos_pendentes_pagamento` AS select `p`.`id_pedido` AS `id_pedido`,`c`.`nome` AS `cliente`,`fp`.`status_transacao` AS `status_transacao`,`p`.`dataPedido` AS `dataPedido`,`p`.`data_entrega` AS `data_entrega` from ((`pedido` `p` join `cliente` `c` on((`p`.`fk_cliente_id_cliente` = `c`.`id_cliente`))) join `forma_pagamento` `fp` on((`p`.`fk_forma_pagamento_id_forma_pagamento` = `fp`.`id_forma_pagamento`))) where (`fp`.`status_transacao` <> 'Aprovado') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-03 16:46:50
